<%= link_to 'Back', invoices_path, class: "btn btn-primary", style: "margin-left: 50px; margin-top: 20px;" %>
<div class="container" style=" margin-top: 35px; width: 25%; margin-left: 90px">
  <%= form_with model: [@invoice, @collection] do |f| %>
    <div>
        <label for="References" %> Reference</label>
        <%= f.text_field :reference, class: "form-control" %>
      </div>

    <div>
        <label for="collection_date" %> Collection Date</label>
        <%= f.text_field :collection_date, class: "form-control" %>
      </div>

    <div class="field">
      <label for="amount" %> Amount</label>
        <%= f.text_field :amount, class: "form-control" %>
      </div>
    <%= f.submit %>
  <% end %>
</div>
