<table class="table"  id="invoiceTable", style="margin-left: 25px;">
  <thead>
  <th> Reference</th>
  <th> Invoice Date</th>
  <th>Customer</th>
  <th> Brand manager</th>
  <th>Narration</th>
  <th>Amount</th>
  <th>Total Collection</th>
  <th>Balance Due</th>
  <th>Button Add to collection</th>
  </thead>
  <tbody>
  <% @invoices.each do |invoice| %>
    <tr>
      <%# if invoice.balance_due(invoice) > 0 %>
      <%# end %>
      <%# if invoice.balance_due(invoice) == 0 %>
      <%# end %>
      <td> <%= link_to invoice.reference, invoice_path(invoice) %></td>
      <td>  <%= invoice.invoice_date %></td>
      <td> <%= invoice.customer_name %></td>
      <td> <%= invoice.brand_manager %></td>
      <td> <%= invoice.narration %></td>
      <td> <%= invoice.amount %></td>
      <td><%= invoice.collections.sum(&:amount) %></td>
      <td> <%= invoice.balance_due(invoice) %></td>
      <% unless invoice.balance_due(invoice) == 0 %>
        <td><%= link_to 'Add Collection', new_invoice_collection_path(invoice), class: "btn btn-primary" %> </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>