<%= link_to 'Add new bill', new_invoice_path, class: "btn btn-primary", style: "margin-left: 150px; margin-top: 70px;" %>
<%= link_to 'All Bills', invoices_path, class: "btn btn-primary", style: "margin-left: 150px; margin-top: 70px;" %>
<%= link_to 'Show Pending bills', pendingbills_path, class: "btn btn-primary", style: "margin-left: 150px; margin-top: 70px;" %>
<%= link_to 'show Collected bills', collectedbills_path, class: "btn btn-primary", style: "margin-left: 150px; margin-top: 70px;" %>
<span style="margin-left: 50px;">
  <%= will_paginate @invoice, style: "margin-left: 450px; margin-top: 20px" %>
</span>

<table class="table" id="invoiceTable" , style="margin-left: 25px;">
  <thead>
  <th> Reference</th>
  <th> Invoice Date</th>
  <th>Customer</th>
  <th> Brand manager</th>
  <th>Narration</th>
  <th>Amount</th>
  <th>Total Collection</th>
  <th>Balance Due</th>
  </thead>
  <tbody>
  <% @invoices.each do |invoice| %>
    <% if invoice.balance_due(invoice) == 0 %>
      <tr>
        <td> <%= link_to invoice.reference, invoice_path(invoice) %></td>
        <td>  <%= invoice.invoice_date %></td>
        <td> <%= invoice.customer_name %></td>
        <td> <%= invoice.brand_manager %></td>
        <td> <%= invoice.narration %></td>
        <td> <%= invoice.amount %></td>
        <td><%= invoice.collections.sum(&:amount) %></td>
        <td> <%= invoice.balance_due(invoice) %></td>
        <% unless invoice.balance_due(invoice) == 0 %>
          <td><%= link_to 'Add Collection', new_invoice_collection_path(invoice), class: "btn btn-primary" %> </td>
        <% end %>
    <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @invoice, style: "margin-left: 450px;" %>