<%= link_to 'Back', invoices_path, class: "btn btn-primary", style: "margin-left: 50px; margin-top: 20px;" %>

<div class="container" style="margin-top: 30px; width: 25%; margin-left: 90px;">
  <%= form_with model: [@invoice] do |f| %>
    <div>
      <label for="References" %> Reference</label>
      <%= f.text_field :reference, class: "form-control" %>
    </div>

    <div>
      <label for="InvoiceDate" %>Invoice Date</label>
      <%= f.text_field :invoice_date, class: "form-control" %>
    </div>

    <div>
      <label for="Customer" %> Customer name</label>
      <%= f.text_field :customer_name, class: "form-control" %>
    </div>

    <div>
      <label for="brand_manager" %> Brand Manager</label>
      <%= f.text_field :brand_manager, class: "form-control" %>
    </div>

    <div>
      <label for="narration" %> Narration</label>
      <%= f.text_field :narration, class: "form-control" %>
    </div>

    <div>
      <label for="amount" %> amount</label>
      <%= f.text_field :amount, class: "form-control" %>
    </div>

    <%= f.submit %>

  <% end %>
</div>