<%= link_to 'Back', invoices_path, class: "btn btn-primary", style: "margin-left: 40px; margin-top: 20px"; %>
<div class="show-invoice" style="margin-left: 20px; padding-top: 30px;">
  <p class="text-primary"> <%= @invoice.reference %></p>
  <p> <%= @invoice.customer_name %></p>
  <p> <%= @invoice.brand_manager %></p>
  <p><%= @invoice.narration %></p>
</div>

<table class="table" id= "CollectionTable" style="margin-left: 80px; margin-top: 45px;  width: 50%;">
  <thead>
  <th> Date</th>
  <th> Event</th>
  <th> Amount</th>
  </thead>
  <tbody>
  <tr>
    <td><%= @invoice.invoice_date %></td>
    <td> New Invoice</td>
    <td><%= @invoice.amount %></td>

  </tr>
  <% @invoice.collections.each do |collection| %>
    <tr>

      <td><%= collection.collection_date %></td>
      <td> Collection</td>
      <td><%= collection.amount %></td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td> Balance</td>
    <td> <%= @invoice.balance_due(@invoice) %></td>
  </tr>

  </tbody>

</table>

<p> <%= link_to 'Add Collection', new_invoice_collection_path(@invoice), class: "btn btn-primary", style: "margin-left: 65px; margin-top: 10px" %> </p>