// Place all the styles related to the Invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#CollectionTable th
{
  background-color: aqua;
}

#invoiceTable th {
  background-color: aqua;
}